.gallery {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
}
#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media(max-width: 500px) {
    #gallery img{
        width: 180px;
    }
}

/* #gallery img {
     max-width: 100%;
} */
